Enhance ResourceTypes endpoint

Current [impl](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ws/rs/scim2/ResourceTypeWS.java) of `/resourceType` endpoint is receiving an **Authorization** header as parameter. Authorization is not needed in this case.

Additionally from section 4 of RFC 7644:

> If a "filter" is provided, the service provider SHOULD respond with HTTP status code 403 (Forbidden) to ensure that clients cannot incorrectly assume that any matching conditions specified in a filter are true.

We should add this check. Also, removing redundant code there would be good.

Done [ResourceTypeWS](https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/server/src/main/java/org/gluu/oxtrust/ws/rs/scim2/ResourceTypeWS.java).

Pending test cases for closing issue

[Test](https://github.com/GluuFederation/SCIM-Client/blob/scim2_compliance/src/test/java/gluu/scim2/client/servicemeta/ResourceTypesTest.java#L14-L14) ready