Group assignment for users should be done at /Group not through /Users endpoint

Citing section 4.1.2 of RFC 7643 (description of user's `groups` attribute):
>  Since this attribute has a mutability of "readOnly", group membership changes MUST be applied via the "Group" Resource (Section 4.2)

Current implementation of Users endpoint allows the modification of the `groups` attribute in creation (POST), and modification (PUT) operations. 

Correct behavior will be ignoring the groups passed as in this case data is read-only.


Relevant test case [here](https://github.com/GluuFederation/SCIM-Client/blob/scim2_compliance/src/test/java/gluu/scim2/client/multipleresource/GroupAssignUserTest.java).