Service does not handle properly the attributes/excludedAttributes parameters

Current SCIM implementation does not support the `excludedAttributes` parameter, but only `attributes`

See section 3.4.2.5 of RFC 7644.  `excludedAttributes` must support the notation as described in section 3.10 of document mentioned

Adjustments in `BaseScimWebService` class:
https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/server/src/main/java/org/gluu/oxtrust/ws/rs/scim2/BaseScimWebService.java#L80-L80

And added utility class to make computation of attributes more generic and easier: https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/scim/src/main/java/org/gluu/oxtrust/model/scim2/util/IntrospectUtil.java#L27-L27

Created new [serialization facility](https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/server/src/main/java/org/gluu/oxtrust/service/scim2/serialization/ScimResourceSerializer.java#L186) that takes into account extended attributes as well.

Applies to any instance of class [BaseScimResource](https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/scim/src/main/java/org/gluu/oxtrust/model/scim2/BaseScimResource.java)
