Service metadata endpoints must reject the presence of filter query param

Related #33 

The following statement applies for all metadata endpoints (`/ServiceProviderConfig`, `/Schemas`, and `/ResourceTypes` ) not only the last one.

> If a "filter" is provided, the service provider SHOULD respond with HTTP status code 403 (Forbidden) to ensure that clients cannot incorrectly assume that any matching conditions specified in a filter are true. (section 4 of RFC 7644)

A more appropriate implementation strategy should be a resteasy filter, not a weld interceptor.