Add support for PATCH verb to service

Currently SCIM service does not officially support PATCH operation. According to spec, patching is one of the mechanisms that allows a SCIM client to remove (nullify) an already non-empty attribute. 

PUT operation MAY cope for attribute removal (see RFC 7644 section 3.5.1). In current implementation an unassigned/nulled attribute passed to the service simply leaves the stored attribute value intact. IMO this is right: clearing attributes not being passed can lead to unintentional info erasure, and thus, complaints.

Current scim server code in oxTrust for patching is not complete yet and deviates from spec. Needs work.


A new partial implementation for PATCH has been developed.

This impl supports add/replace/remove operations and all behaviors as per spec, **excluding** support for value selection ("valuePath") filters. 

This implies that there is no way to delete or change a specific item from a multivalued attribute. So all subattributes within multi-valued attributes are being patched (be it addition, replacement, or deletion)

Some relevant references:
* [UserWebService#patchUser](https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/server/src/main/java/org/gluu/oxtrust/ws/rs/scim2/UserWebService.java#L272-L272)
* [BaseScimWebService#applyPatchOperation](https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/server/src/main/java/org/gluu/oxtrust/ws/rs/scim2/BaseScimWebService.java#L231-L231)
* [ScimResourceUtil#transferToResourceReplace, transferToResourceAdd, deleteFromResource](https://github.com/GluuFederation/oxTrust/blob/scim2_compliance/scim/src/main/java/org/gluu/oxtrust/model/scim2/util/ScimResourceUtil.java#L233-L233)
* Test cases for [patch](https://github.com/GluuFederation/SCIM-Client/blob/scim2_compliance/src/test/resources/testng.xml#L46-L46)

value selection filters support added